* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  --webkit-box-sizing: border-box;
  --moz-box-sizing: border-box;
  --o-box-sizing: border-box;
}

body {
  font-family: "Arial", sans-serif;
  background-color: #eee;
}

table {
  margin: 10px auto;
  table-layout: fixed;
}

table th,
table td {
  border: 1px solid #c9c9c9;
  padding: 20px 30px;
  text-align: center;
  position: relative;
  z-index: 1;
  transition: 0.2s ease;
  background-color: white;
}

table td:hover {
  border: 1px solid #2273ff;
}

table tr:hover td {
  background: #f4f1f1;
}

table:has(td:nth-child(1):hover) td:nth-child(1) {
  background-color: #f4f1f1;
}

table:has(td:nth-child(2):hover) td:nth-child(2) {
  background-color: #f4f1f1;
}

table:has(td:nth-child(3):hover) td:nth-child(3) {
  background-color: #f4f1f1;
}
